@charset "UTF-8";
/*--Colores--*/
/*--Mapas--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

nav a:hover {
  background-color: #fcddb5;
}

a:hover {
  color: rgb(46, 131, 88);
  border-color: rgb(66, 64, 64);
  border-radius: 0.2rem;
  transform: scale(1.2, 1.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: #fcddb5;
}
a:active {
  background-color: rgb(46, 131, 88);
  color: rgb(66, 64, 64);
}

.tblanco {
  color: white;
}

body {
  background-color: rgb(231, 219, 235);
}

main {
  line-height: 1, 5;
  padding: 0;
}
main p {
  text-align: justify;
  line-height: 1, 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(66, 64, 64);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

P::selection {
  color: rgb(66, 64, 64);
  background-color: #fcddb5;
}

.button, .btn {
  border: rgb(111, 0, 255) solid 2px;
}
.button:hover, .btn:hover {
  background-color: rgb(240, 167, 79);
  color: white;
}

.btn {
  background-color: rgb(46, 131, 88);
  justify-content: space-around;
}

.card {
  border-radius: 1rem;
  border-width: 0.3rem;
  border-color: rgb(240, 167, 79);
}
.cardTittle {
  color: rgb(46, 131, 88);
}

footer {
  background-color: rgb(56, 56, 54);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  padding-left: 0.5rem;
  background-image: linear-gradient(rgb(37, 37, 37), rgb(87, 87, 86));
}

#cajaFooter {
  margin-right: 14vw;
  margin-left: 10vw;
  position: relative;
  margin-bottom: 1px;
}
#cajaFooter a {
  bottom: 5vw;
  right: 3vw;
}
#cajaFooter p {
  line-height: 0.7rem;
}
#cajaFooter ul {
  line-height: 1.5rem;
}

.logoWhatsapp {
  position: fixed;
  bottom: 1vw;
  right: 3vw;
}

.logoInstagram, .logoFacebook {
  background-color: #f0ddfc;
  border-radius: 1rem;
}
.logoInstagram:hover, .logoFacebook:hover {
  transform: scale(1.5, 1.5);
}

.logoFacebook {
  background-color: #9fbbf7;
}

.logoinstagram {
  background: #f0ddfc;
}

.logofacebook {
  background: #9fbbf7;
}

/*---APLICANDO GRIDS---*/
#cajaFooter {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 100%;
  grid-template-areas: "contacto servicios mapa ";
  grid-auto-flow: row;
  gap: 10px 10px;
  padding: 30px;
}

#cajaFooter iframe {
  height: 180px;
}

.footerContacto {
  grid-area: contacto;
}

.footerServicios {
  grid-area: servicios;
}

.footerMapa {
  grid-area: mapa;
}

#cajaFooter a:hover {
  background: #f0dfc6;
  color: rgb(46, 131, 88);
  border-color: rgb(66, 64, 64);
  border-radius: 0.2rem;
  transform: scale(1.2, 1.2);
  display: inline-block;
}

#cajaFooter p {
  line-height: 0.7rem;
}

.parrafoWhatsapp a {
  color: black;
  background-color: rgb(231, 219, 235);
  opacity: 90%;
  font-weight: 200;
  border-radius: 10px;
  border-width: 1px;
  font-size: larger;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  #cajaFooter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
/*-- Mixin y condicional--*/
@media screen and (max-width: 991px) {
  .logoPrincipal {
    width: 100px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 6px;
  }
  .logoSecciones {
    width: 100px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 6px;
  }
}
@media screen and (min-width: 992px) {
  .logoPrincipal {
    width: 120px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 6px;
  }
  .logoSecciones {
    width: 120px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 6px;
  }
}
.recuadros, .indexTurnos > a {
  background-color: #f8ead9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-style: solid;
}

h2 {
  color: rgb(231, 219, 235);
  background-color: rgb(66, 64, 64);
  text-align: center¿;
  z-index: -2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  color: rgb(96, 54, 109);
  padding-top: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

/*--Main de Sección Inicio--*/
.contenedor, #mainServicios, #mainPet, #mainPeluqueria, #mainContacto {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(231, 219, 235);
  background-color: rgb(251, 247, 252);
  padding: 20px;
  margin: 10px;
}

#nosotras-1 P::first-letter {
  font-size: 130%;
  float: inline-start;
}

.indexTurnos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.indexTurnos > a:hover {
  flex-direction: column;
  background-color: #f8ead9;
  transform: scale(1.1, 1.1);
}
.indexTurnos > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--Contacto en Sección Inicio--*/
.indexContacto {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}
.indexContacto > h2 {
  z-index: 0;
}

.indexContacto > iframe {
  height: 350px;
}

/*--Pet shop en Sección Inicio--*/
.petshopIndex {
  display: flex;
  justify-content: space-around;
  border-color: rgb(197, 195, 195);
  border-width: 2px;
  border-radius: 5px;
  border-style: dashed;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  align-items: center;
  background-image: url("../img/fondo Huellas beige1.jpeg");
}
.petshopIndex > a:hover {
  background: none;
}
.petshopIndex > p:hover {
  background: #fcddb5;
}
.petshopIndex > p:focus {
  background: #fcddb5;
}
.petshopIndex > h4 {
  color: rgb(46, 131, 88);
  text-align: center¿;
}

.petshopIndex img {
  border-radius: 10px;
  border-color: rgb(66, 64, 64);
  border-style: solid;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.petshopIndex img:hover {
  color: white;
}

.petshopIndexBoton > p {
  background-color: white;
  margin-left: 40px;
}
.petshopIndexBoton > a {
  display: inline-block;
}

/*--Blog en Sección Inicio--*/
.blog {
  background-color: rgb(46, 131, 88);
  text-align: justify;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.blog a:hover {
  background: #f0dfc6;
  color: rgb(46, 131, 88);
  border-color: rgb(66, 64, 64);
  border-radius: 0.2rem;
  transform: scale(1.2, 1.2);
  padding: 2px;
  display: inline-block;
}

.serviosIncluidos li {
  text-align: justify;
  padding-bottom: 0.5rem;
}

.accordion-item {
  background-color: rgb(46, 131, 88);
  color: white;
}

.peluqueriaImg img {
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #preguntasFrecuentes h2 {
    text-align: center;
  }
}
.serviosIncluidos {
  background-color: rgb(231, 219, 235);
}

@media screen and (max-width: 991px) {
  .peluqueriaImg {
    width: 98%;
  }
}
.principalPet img {
  border-radius: 1rem;
  border: solid rgb(46, 131, 88);
  margin-left: 0.2rem;
}

#mainPet {
  background-image: url("../img/fondo Huellas beige1.jpg");
  z-index: -10;
}

.petshopPagos {
  border-radius: 1rem;
  color: white;
  background-image: radial-gradient(rgb(53, 54, 54), rgb(156, 156, 156));
}

.petshopDescripcion {
  font-weight: 600;
}

#chapitas .chapitasEncargo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seccionPrincipalServicios > h3 {
  color: rgb(66, 64, 64);
  text-decoration: dashed;
}

#seccionPrincipalServicios img {
  border-radius: 10px;
  border-color: rgb(66, 64, 64);
  border-style: solid 4px;
}

div h3 {
  background-color: #f8ead9;
  text-align: center;
  padding: 1rem;
}

.descripcionVeterinaria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descripcionVeterinaria > a {
  color: rgb(66, 64, 64);
}
.descripcionVeterinaria > .descripcionContacto {
  background-color: none;
}

.descripcionVeterinaria a:hover {
  display: inline-block;
  color: rgb(96, 54, 109);
  padding-top: 0;
  background-color: #f0dfc6;
}

.unionCajasServicios div a {
  background-color: rgb(197, 195, 195);
  color: #fcddb5;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
