@charset "UTF-8";
/*--Colores--*/
/*--Mapas--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

a:hover {
  background: #f0dfc6;
  color: rgb(46, 131, 88);
  border-color: rgb(66, 64, 64);
  border-radius: 0.2rem;
  transform: scale(1.2, 1.2);
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: #fcddb5;
}
a:active {
  background-color: rgb(46, 131, 88);
  color: rgb(66, 64, 64);
}

.texto {
  font-size: 2rem;
}

.tblanco {
  color: white;
}

h3 {
  color: rgb(96, 54, 109);
  padding-top: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

main {
  line-height: 1, 5;
  padding: 0;
}
main p {
  text-align: justify;
  line-height: 1, 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(66, 64, 64);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

ul li {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  color: rgb(231, 219, 235);
  background-color: rgb(66, 64, 64);
  text-align: center¿;
  z-index: -2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  background-color: rgb(56, 56, 54);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2rem;
  padding-left: 0.5rem;
  background-image: linear-gradient(rgb(37, 37, 37), rgb(87, 87, 86));
}

#cajaFooter {
  padding: 2vw;
  margin-right: 20vw;
  margin-left: 5vw;
  text-align: justify;
  position: relative;
  margin-bottom: 1px;
}
#cajaFooter a {
  bottom: 5vw;
  right: 3vw;
}
#cajaFooter p {
  line-height: 0.7rem;
}
#cajaFooter ul {
  line-height: 1.5rem;
}

.logoWhatsapp {
  position: fixed;
  bottom: 5vw;
  right: 3vw;
}

.logoInstagram, .logoFacebook {
  background-color: #f0ddfc;
  border-radius: 1rem;
}
.logoInstagram:hover, .logoFacebook:hover {
  transform: scale(1.5, 1.5);
}

.logoFacebook {
  background-color: #9fbbf7;
}

.logoinstagram {
  background: #f0ddfc;
}

.logofacebook {
  background: #9fbbf7;
}

button {
  border: rgb(111, 0, 255) solid 2px;
}
button:hover {
  background-color: rgb(240, 167, 79);
  color: white;
}

.card {
  border-radius: 1rem;
  border-width: 0.3rem;
  border-color: rgb(240, 167, 79);
}
.card-tittle {
  color: rgb(46, 131, 88);
}

.blog {
  background-color: rgb(46, 131, 88);
  text-align: justify;
}

.serviosIncluidos li {
  text-align: justify;
  padding-bottom: 0.5rem;
}

.accordion-item {
  background-color: rgb(46, 131, 88);
  color: white;
}

.peluqueriaImg {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #preguntasFrecuentes h2 {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .peluqueriaImg {
    width: 98%;
  }
}
.principalPet img {
  border-radius: 1rem;
  border: solid rgb(46, 131, 88);
  margin-left: 0.2rem;
}

.mainPet {
  background-image: url(../img/Fondo\ huellas\ beige.webp);
}

.petshopPagos {
  border-radius: 1rem;
  color: white;
  background-image: radial-gradient(rgb(53, 54, 54), rgb(156, 156, 156));
}

.petshopDescripcion {
  font-weight: 600;
}

#seccionPrincipalServicios h3 {
  color: rgb(66, 64, 64);
  text-decoration: dashed;
}

div h3 {
  background-color: #f8ead9;
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
