
/*--Main de Sección Inicio--*/
.contenedor{
        border-radius: 10px;
        border-style: solid;
        border-color: $color-titulos2;
        background-color: $color-main;
        padding: 20px;
        margin: 10px;
}

#nosotras-1 P::first-letter{
        font-size: 130%;
        float:inline-start;
} 

.indexTurnos{ 
        display: flex;
        align-items: center;
        justify-content: center;
        &>a{
                @extend .recuadros;

        }
        &>a:hover{
                
                flex-direction: column;
                background-color:  #f8ead9;
                transform: scale(1.1, 1.1);

                }
        &>button{
                display: flex;
                align-items: center;
                justify-content: center;
        }
}


/*--Contacto en Sección Inicio--*/
.indexContacto{
        display:flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        &>h2{
                z-index: 0;
        }
}

.indexContacto>iframe{
        height: 350px;
}

/*--Pet shop en Sección Inicio--*/
.petshopIndex{
        display: flex;
        justify-content: space-around;
        border-color: $color-bordes;
        border-width: 2px;
        border-radius: 5px;
        border-style:dashed;
        background-color: rgb(240, 240, 240);
        padding: 10px;
        align-items: center;
        background-image: url("../img/fondo Huellas beige1.jpeg");
        &>a:hover{
                background: none;
        }
        &>p:hover{
                background: $color-secundario;
        }
        &>p:focus{
                background: $color-secundario;
        }
        &>h4{
                color: $color-terciario;
                text-align: center¿;
                }      
        
}

.petshopIndex img{
        border-radius: 10px;
        border-color: $color-grisoscuro;
        border-style: solid;
        align-items: center;
        display: flex;
        justify-content: space-around;
        &:hover{
                color: white;
        }
}

.petshopIndexBoton{
        &>p{
                background-color: white;
                margin-left: 40px;
        }
        &>a{
        display: inline-block;
        }
}

/*--Blog en Sección Inicio--*/
.blog {
        background-color: $color-terciario;
        text-align: justify;
        border-radius: 4px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
}  

.blog a {
        &:hover{
        background: #f0dfc6;
        color: $color-terciario;
        border-color: $color-grisoscuro;
        border-radius: 0.2rem;
        transform: scale(1.2, 1.2);
        padding: 2px;
        display: inline-block;
        }
}   
