
.contenedor{
        border-radius: 10px;
        border-style: solid;
        border-color: $color-titulos2;
        background-color: $color-main;
        padding: 20px;
        margin: 10px;
}

#nosotras-1 P::first-letter{
        font-size: 130%;
        float:inline-start;
} 


.indexContacto{
        display:flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        &>h2{
                z-index: 0;
        }
}

.indexContacto>iframe{
        height: 350px;
}



.blog {
        background-color: $color-terciario;
        text-align: justify;
        border-radius: 4px;
}  


.blog a {
        &:hover{
        background: #f0dfc6;
        color: $color-terciario;
        border-color: $color-grisoscuro;
        border-radius: 0.2rem;
        transform: scale(1.2, 1.2);
        padding: 2px;
        display: inline-block;
        }
}   


/*-- Mixin y condicional--*/

@mixin logoNav($size,$size1,$radius:0){
        width: $size;
        height: $size1;

        @if $radius !=0{
        border-radius: $radius;
        }
}

@media screen and (max-width: 991px){

        .logoPrincipal {
                @include logoNav(89px, 65px);
                border-radius: 0.5rem;
        }
                
}



@media screen and (min-width: 992px){

        .logoPrincipal {
                @include logoNav(50%, 100%);
                border-radius: 0.5rem;
                }

}

/*---APLICANDO GRIDS---*/

#cajaFooter {
        display: grid;
        grid-template-columns: 30% 30% 20% 20%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "contacto servicios mapa ."; 
        grid-auto-flow: row;
        gap: 10px 10px;
        padding: 30px;
        } 

        .footerContacto {
                grid-area: contacto;
        } 
        
        .footerServicios {
                grid-area: servicios;
        } 

        .footerMapa {
                grid-area: mapa;
        } 
        
        

#cajaFooter a {
        &:hover{
        background: #f0dfc6;
        color: $color-terciario;
        border-color: $color-grisoscuro;
        border-radius: 0.2rem;
        transform: scale(1.2, 1.2);
        display: inline-block;
        }
}

#cajaFooter p{
        line-height: 1rem;

}  

.parrafoWhatsapp a{
        color:black;
        background-color: $color-titulos2;
        opacity: 90%;
        font-weight: 200;
        border-radius: 10px;
        border-width: 1px;
        font-size: larger;
}

@media screen and (max-width: 992px){

        #cajaFooter {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                }

}