#mainPeluqueria{
    @extend .contenedor;
}

.serviosIncluidos { 
    display: flex;
    flex-direction: column;

}

.serviosIncluidos .card-body{
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.accordion-item{
    background-color: $color-titulos2;
    color: $color-grisoscuro;
}

.accordion-button{
    background-color: #f8ead9;
}

.turnosPeluqueria {
    @extend .recuadros;
    &>h4{
        color: $color-titulos3;
    }
    &>p{
        line-height: 0.5;
    }
    
}

.turnosPeluqueria button{
    background-color: $color-grisoscuro;
    color: $color-hover;
    border-radius: 10px;
    border-color: $color-hover;
}

.peluqueriaImg{
    display: flex;
    &>img{
        border-radius: 10px;
        align-self: center;
        justify-content: center;    
    }

}


@media screen and (min-width: 992px){
    
#preguntasFrecuentes 
    h2{
        text-align: center;
    }

}

.serviosIncluidos{
    background-color: rgb(238, 225, 243);
    border-radius: 10px;
    background-color: opacity 50%;
}


@media screen and (max-width: 991px){

    .peluqueriaImg {
        width: 98%;
    }
    
    }

    

