

.principalPet img{
    border-radius: 1rem;
    border: solid $color-terciario;
    margin-left: 0.2rem;
    max-height: 830px;
}

#mainPet{
    background-image: url("../img/fondo Huellas beige1.jpg");
    z-index: -10;
    @extend .contenedor;
}


.petshopPagos{
    border-radius: 1rem;
    color: white;
    background-image: $color-background;
}

.petshopDescripcion{
    font-weight: 600;
}

/*--Mixin Flex--*/
@mixin centrado-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#chapitas .chapitasEncargo {

    @include centrado-flex;
}

#chapitas img{
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: $color-bordes;
    max-height: 300px;
}


#chapitas a:hover{
    transform: scale(1.2, 1.2);
}


