

.principalPet img{
    border-radius: 1rem;
    border: solid $color-terciario;
    margin-left: 0.2rem;
}

.mainPet{
    background-image: url(../img/Fondo\ huellas\ beige.webp);
}

.petshopPagos{
    border-radius: 1rem;
    color: white;
    background-image: $color-background;
}

.petshopDescripcion{
    font-weight: 600;
}