
#mainServicios{
    @extend .contenedor;
}

#seccionPrincipalServicios{ 
    &>h3{
    color: $color-grisoscuro;
    text-decoration: dashed;
    }
}

#seccionPrincipalServicios img{
    border-radius: 10px;
    border-color: $color-grisoscuro;
    border-style: solid 4px;
}



div h3{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: 1rem;
}

.descripcionVeterinaria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>a{
        color:$color-grisoscuro;
        }
    &>.descripcionContacto{
        background-color: none;
    }
}

.descripcionVeterinaria a:hover{
    display:inline-block;
    color: $color-titulos3;
    padding-top: 0;
    background-color: $color-hover;
}

.unionCajasServicios div a{
    background-color: $color-bordes;
    color: $color-secundario;
    border-radius: 10px;
}
