
#seccionPrincipalServicios h3{
    color: $color-grisoscuro;
    text-decoration: dashed;
}


div h3{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: 1rem;
}