
.button {

    border: $color-principal solid 2px;
    &:hover{
        background-color: $color-narajaosc;
        color: white;
        }
}


.btn{
    @extend .button;
    background-color: $color-terciario;
    justify-content: space-around;

}
