
h2{
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }   


h3{
    color: $color-titulos3;
    padding-top: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration:underline;
}  