
/*--Colores--*/

$color-principal: rgb(111, 0, 255);
$color-secundario: #fcddb5;
$color-grisoscuro: rgb(66, 64, 64);
$color-terciario: rgb(46, 131, 88);
$color-titulos3: rgb(96, 54, 109);
$color-titulos2: rgb(231, 219, 235);
$color-footer: rgb(56, 56, 54);
$color-narajaosc:rgb(240, 167, 79);
$color-background: radial-gradient(rgb(53, 54, 54) , rgb(156, 156, 156));
$color-main: rgb(251, 247, 252);
$color-bordes: rgb(197, 195, 195);
$color-hover: #f0dfc6;


/*--Mapas--*/

$redes: (
    instagram: #f0ddfc,
    facebook:  #9fbbf7,
);


$estilos: (
    color: #f8ead9,
    centro: center
);



